body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

#counter {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #000;
    z-index: 3;
}

#container {
    position: relative;
    width: 900px;
    height: 600px;
    border: 2px solid #000;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
}

.draggable-container {
    position: absolute;
    width: 100px; /* size */
    text-align: center;
    z-index: 2;
    cursor: move;
    top: 20px; /* top position */
    left: 400px; /*left position */
}

.draggable {
    width: 100%;
    height: 100px; /* Adjust the size as needed */
}

label {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #000;
    background-color: white;
    padding: 2px;
    border-radius: 3px;
}

.dropbox {
    position: absolute;
    width: 130px;
    height: 130px;
    z-index: 10;
}

.dropbox-img {
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
}

/* dropbox position */
#dropbox1 {
    bottom: 10px;
    left: -10px;
}
#dropbox2 {
    bottom: 10px;
    left: 102px;
}
#dropbox3 {
    bottom: 10px;
    left: 214px;
}
#dropbox4 {
    bottom: 10px;
    left: 326px;
}
#dropbox5 {
    bottom: 10px;
    left: 438px;
}
#dropbox6 {
    bottom: 10px;
    left: 550px;
}
#dropbox7 {
    bottom: 10px;
    left: 662px;
}
#dropbox8 {
    bottom: 10px;
    left: 774px;
}

#congratulations-message {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #000;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    z-index: 20;
}
